# Wake DAPS on a Juno system - allow CSAL to access CS debug hardware
echo Powering Juno DAPs.

# set the scan chain.
chain dev=ARMCS-DP,ARMCS-DP

# connect to first - will force power up
dvo 0

# check DP register for power ACK bits
drr dp.csw

dvc

# connect to second - will force power up
dvo 1

# check DP register for power ACK bits
drr dp.csw

dvc

echo Done

